
.image-band {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    background-color: #272727;
    box-shadow: rgb(33, 38, 42) 0px 3px 7px 3px;
    border-radius: 5px;
    padding: 2%;
    margin: 3%;
}
.image-band img {
    max-width: 160px;
    max-height: 50%;
    margin: 2%;
    padding: 2%;
    object-fit: cover;
    transition: all 500ms;
}

.image-band img:hover {
    box-shadow: rgb(59, 64, 67) 0px 0px 6px 1px;
    border-radius: 5px;
    transform: scale(1.1);
    cursor: pointer;
}

.ruleta-enter {
    opacity: 0;
  }
  
.ruleta-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}
  
.ruleta-exit {
    opacity: 1;
}
  
.ruleta-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
