
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Sono:wght@200&display=swap');
.mainTitle{
    text-align: center;
    font-family: 'Averia Gruesa Libre', system-ui;
    font-family: 'Sono', monospace;
    font-size: 24px;
    color: rgb(112, 207, 255);
    background-color: rgb(13, 13, 15);
    border-radius: 5px;
    margin: 7px;
    padding: 0.1px;
    border: 1px solid rgb(112, 207, 255);
    box-shadow: rgb(106, 125, 137) 0px 0px 3px 0.1px;
}
.subTitle{
    text-align: center;
    font-family: 'Averia Gruesa Libre', system-ui;
    font-family: 'Sono', monospace;
    font-size: 24px;
    color: rgb(227, 227, 216);
    margin: 4px;
    padding: 0.1px;
   
}
.desc{
    text-align: center;
    font-family: 'Averia Gruesa Libre', system-ui;
    font-family: 'Sono', monospace;
    font-size: 24px;
    color: rgb(112, 207, 255);
    margin: 4px;
    padding: 0.1px;
}
.introimg{
    width: 100%;
    object-fit: cover;
    transition: all 500ms;
   
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    
}

@media screen and (max-width: 768px){
    .mainTitle{
        font-size: 20px;
    }
    .subTitle{
        font-size: 20px;
    }
    .desc{
        font-size: 20px;
    }
    
    
}
