.mainTitle{
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
    color: yellow;


}
.mainTitle h1{
    margin:0px;
    padding: 3px;
}

.subTitle{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: lightblue;
    margin:0px;
    padding: 1%;
}