@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
.ruletaContainer{
    position: relative;
    margin: 10px auto ;
    text-align: center;
    width: 720px;
    margin-bottom: 113px;
}

.ruleta{
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin: 0 auto 15px;
}

.flecha img{
    width: 80px;
    height: auto;
}

.btn {
    background-color: #007bff;
    font-family: 'Gaegu', sans-serif;
    color: #011f40;
    border: none;
    width: 80px;
    height: 80px;
    font-size: 25px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    top: 365px;
    right: 320px;
    z-index: 1;
    cursor: pointer;
}

.btn:hover {
    background-color: #d3d4d6;
}

.btn:focus {
    outline: none;
}


@media screen and (max-width: 768px){
    .ruleta{
        width: 280px;
        height: 280px;
        margin: 0;
    }
    .ruletaContainer{
        width: 280px;
    }
    .flecha img{
        width: 50px;
    }
    .btn{
        top: 160px;
        right: 110px;
        width: 60px;
        height: 60px;
        font-size: 20px;
        margin: 0;
        padding: 0;
        
        
        
    }
    
}